body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* Place it behind the content */
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1 {
    color: #6c757d;
}

p {
    line-height: 1.6;
    color: azure;
}

audio {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}